body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

main {
  position: relative;
  min-width: 600px;
  min-height: 500px;
  width: 85%;
  height: 75vh;
  background-color: #0b0b0b;
  margin: auto 5%;
  border-radius: 5px 5px 20px 20px;
}

hr {
  height: 10px;
  background-color: #1c1c1c;
  border-radius: 10px;
  margin-top: 4%;
  border: none;
}

.board {
  display: flex;
  gap: 5px;
  flex-direction: row;
  justify-content: space-evenly;
  height: 75%;
  width: 100%;
  margin: 0 auto;
}

.column {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 140px;
}

.peg-board {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #1c1c1c;
  align-items: center;
  width: 100%;
  height: 75%;
  margin-bottom: 3px;
  border-radius: 20px;
}

.key-pegs {
  display: grid;
  grid-template-columns: 2fr 2fr;
  width: 100%;
  height: 20%;
  background-color: #1c1c1c;
  border-radius: 20px;
  justify-content: space-evenly;
  align-items: center;
}

.hole {
  border-radius: 100%;
  width: 75px;
  height: 75px;
  background: #6b6b6b;
  box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.25),
    inset 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.key {
  border-radius: 100px;
  width: 40px;
  height: 40px;
  background: #8b8b8b;
  box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.25),
    inset 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}

.description {
  position: absolute;
  width: 50%;
  background-color: red;
  height: 13%;
  bottom: 0;
  right: 25%;
  left: 25%;
  border-radius: 50px 50px 0 0;
  color: white;
  text-align: center;
  font-family: monospace;
  letter-spacing: 0.5em;
  font-size: 12px;
  padding-top: 18px;
}

.colors {
  display: flex;
  flex-direction: row;
  gap: 6px;
  width: 486px;
  height: 100px;
  justify-content: space-evenly;
  align-items: center;
}

.code-colors {
  width: 75px;
  height: 75px;
  border-radius: 100px;
}

#red {
  background-color: red;
}
#blue {
  background-color: blue;
  box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.25);
}

#white {
  background-color: white;
  box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.25);
}

#green {
  background-color: green;
  box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.25);
}
#yellow {
  background-color: yellow;
  box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.25);
}

#black {
  background-color: black;
  box-shadow: -4px -4px 4px #ffffff40, 4px 4px 4px #ffffff40;
}

@media (max-width: 800px) {
  body {
    width: 100vw;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #0b0b0b;
    border-radius: 10px;
  }

  hr {
    height: 4px;
    background-color: #1c1c1c;
    border-radius: 10px;
    margin: 10px 0;
    border: none;
  }

  .board {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .description {
    display: none;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
  }

  .peg-board {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #1c1c1c;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    border-radius: 5px;
  }

  .key-pegs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 90%;
    height: auto;
    background-color: #1c1c1c;
    border-radius: 10px;
    padding: 5px;
    justify-content: center;
    align-items: center;
  }

  .hole {
    border-radius: 50%;
    width: 95%;
    height: auto;
    background: #6b6b6b;
    box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.2),
      inset 2px 2px 2px rgba(0, 0, 0, 0.2);
  }

  .key {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #8b8b8b;
    box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.2),
      inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin: 5px auto;
  }

  .colors {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 90%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
  }

  .code-colors {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}
